

.preloader {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .skDoubleBounce {
    width: 5rem;
    height: 5rem;
    position: relative;
    .skChild {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: darkgrey;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      animation: skDoubleBounce 2.0s infinite ease-in-out;
    }

    .skDoubleBounce2 {
      animation-delay: -1.0s;
    }
  }
}




@keyframes skDoubleBounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.0);
  }
}
