
.carousel {
  margin-top: 1.5rem;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

}

.eachSlide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-size: cover;
}

.eachSlide span {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  background: #efefef;
}

@media screen and (min-width: 40rem) {
  .eachSlide > div {
    height: 25rem;
  }
}

@media screen and (min-width: 50rem) {
  .eachSlide > div {
    height: 30rem;
  }
}

@media screen and (min-width: 70rem) {
  .eachSlide > div {
    height: 40rem;
  }
}

@media screen and (min-width: 90rem) {
  .eachSlide > div {
    height: 60rem;
  }
}
